header {
  box-shadow: 0px 10px 10px -8px $dark-primary;
  background-color: $primary;
  

  display: flex;
  justify-content: space-between;

    /* name */
  div {
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  nav {
    flex: 1 1 auto;

    height: 5rem;
    align-items: center;
    justify-content: space-between;

    ul {
      text-decoration: none;
      list-style: none;
      display: flex;
      width: 100%;
      height: 100%;


      li {

        height: 100%;
        flex: 1 1 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;
        justify-content: center;


        a{
          i{
            height: 100%;
          }
          p{
            display: none;
            height: 0;
          }
        }

        :hover {
          
            
          i{
              height: 50%;
              transition: all 0.3s linear;
            }

          p{
            display: block;
            height: 50%;
            transition: all 0.3s linear;
          }
        }

        &.active{
          i,p{
            height: 50%;
            display: block;
          }
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width: 800px) {
  header {

    div {
      padding: 1rem;
    }
  
    nav {
    width: 100%;
    ul{
      width: 100%;
    
      li{
        flex: 1;
      }
   }
   }
  }
}