header {
  width: calc(100% - 8rem);
  margin: 4rem;
  margin-bottom: 0;
  
  padding: 0 2rem ;
  padding-bottom: 0;

  box-shadow: 0px 10px 10px -8px $dark-primary;
  background-color: $primary;
  border-radius: 4rem 4rem 0 0;

  display: flex;
  justify-content: space-between;

    /* name */
  div {
    padding: 1rem;
  }

  nav {
    height: 5rem;
    align-items: center;
    justify-content: space-between;

    ul {
      text-decoration: none;
      list-style: none;
      display: flex;
      width: 40rem;
      height: 100%;


      li {
        width: 25%;
        height: 100%;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;
        justify-content: center;


        a{
          i{
            height: 100%;
          }
          p{
            display: none;
            height: 0;
          }
        }

        :hover {
          
            
          i{
              height: 50%;
              transition: all 0.3s linear;
            }

          p{
            display: block;
            height: 50%;
            transition: all 0.3s linear;
          }
        }

        &.active{
          i,p{
            height: 50%;
            display: block;
          }
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width: 800px) {
  header {
    width: calc(100% - 2rem);
    margin: 1rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
      padding: 1rem;
    }
  
    nav {
    width: 100%;
    ul{
      width: 100%;
    
      li{
        flex: 1;
      }
   }
   }
  }
}