#skills {
    background: linear-gradient(145deg, #FFFFFF, #B3B5B8);
    box-shadow: inset 12.31px 12.31px 15px #8C8E90, inset -12.31px -12.31px 15px #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-auto-rows: repeat(auto-fill, 1fr);
    place-content: center;
    place-items: center;
    align-items: center;
    gap: 2rem;
/*  display: flex;
    flex-wrap: wrap; */

    .skill {
        aspect-ratio: 1;
        flex: 1 1 5rem;
        max-width: 10rem;
        max-height: 10rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        background: linear-gradient(145deg, $light-primary, $dark-primary);
        border-radius: 2rem;
        box-shadow: 9.61px 9.61px 8px $dark-primary, -9.61px -9.61px 8px $light-primary;

        animation: crecer 1s linear 1s both;

        i {
            font-size: 5rem;
            animation: aparecer 1s linear 2s both;
        }

        p {
            animation: aparecer 1s linear 2s;
            animation-fill-mode: both;
        }
    }
}

@media screen and (max-width: 800px) {
  .tech-container {

/*     grid-template-columns:  repeat(2, 1fr); */
     grid-auto-rows: repeat(auto-fitt, 1fr);
     grid-auto-rows: auto;
    gap: 1rem;
    .skill {
      
      /* max-width: 100%; 
      max-height: 100%;*/
      font-size: 4rem; 
      i{
        font-size: 4rem; 
      }
    }
    
  } 
}

.hide-animation {
    .skill {
        animation: crecer2 1s reverse 0s both;

        i,
        p {

            animation: aparecer2 1s reverse 0s both;
        }

    }
}

@media screen and (max-width: 800px) {
    .skill {

        
        max-width: 3rem;
        max-height: 3rem;
        font-size: 1.5rem;

    }

/*     .tech-container {

        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
        place-content: center;
        place-items: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        height: 90%;
    } */
}


@keyframes crecer {
    0% {
        box-shadow: none;
        background: none;
    }
}

@keyframes crecer2 {
    0% {
        box-shadow: none;
        background: none;
    }
}

@keyframes aparecer {
    0% {
        color: transparent;
        background: none;
    }
}

@keyframes aparecer2 {
    0% {
        color: transparent;
        background: none;
    }
}

